<header>
    <nav>
        <div class="nav-icons">
            <i class="fa-brands fa-facebook"></i>
            <i class="fa-brands fa-instagram"></i>
            <i class="fa-brands fa-twitter"></i>
            <a href="/login">LOGIN</a>
        </div>
        <div class="logo">
            <a href="/"><i class="fa-solid fa-burger"><span>DevPastelaria</span></i></a>
        </div>
        <div class="nav-btn">
            <button>Reservar</button>
        </div>
    </nav>
    <div>
        <h1>Massa Crocante e Recheios Premium</h1>
        <span class="hour-open">Seg à Sáb - 12:00 as 20:00</span>
    </div>
</header>
