@import '../../variables.scss';

@media (width >= 1024px) {
    nav {
        display: flex;
        flex-direction: row !important;
        justify-content: space-between;
        max-width: 1240px;
        margin: auto;
        padding: 5dvh 5dvh;

        .nav-btn {

            button {
                background-color: transparent;
                border-radius: 2dvh;
                border: 1px solid $white;
                color: $white;
                height: 5dvh;
                width: 20dvh;
                visibility: visible !important;
                transition: border 1s;
            }

            button:hover {
                border: 2px solid $red;
            }
        }
    }
}