@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100..900;1,100..900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100..900;1,100..900&display=swap");
@media (width >= 1024px) {
  .about {
    display: flex;
    flex-direction: row !important;
    margin: 5dvh 5dvh !important;
  }
}
@media (width >= 1024px) {
  .grid {
    display: grid;
    grid-template-columns: repeat(2, 1fr) !important;
  }
  .grid .card {
    display: flex;
    height: 40dvh;
  }
  .grid .card .card-img img {
    -o-object-fit: cover;
       object-fit: cover;
    width: 100%;
    height: 40dvh;
  }
}
main {
  max-width: 1240px;
  margin: auto;
}
main .about {
  display: flex;
  flex-direction: column;
  margin: 1dvh 1dvh;
}
main .about div {
  flex: 1;
}
main .about .our-history {
  margin-right: 2dvh;
}
main .about .our-history h2 {
  text-align: center;
  margin-bottom: 3dvh;
}
main .about .our-history p {
  text-align: center;
  line-height: 2rem;
  color: #A0522D;
}
main .about img {
  filter: brightness(50%);
}
main .menu {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 5dvh 5dvh;
}
main .menu h2 {
  text-align: center;
  margin: 3dvh 3dvh;
}
main .menu .grid {
  display: grid;
  grid-template-columns: 1fr;
  gap: 2dvh;
  padding: 1dvh 1dvh;
}
main .menu .grid .card {
  display: flex;
  flex-direction: column;
  box-shadow: 0px -1px 17px -4px rgba(0, 0, 0, 0.45);
  border-radius: 2dvh;
  overflow: hidden;
}
main .menu .grid .card .card-img img {
  filter: brightness(50%);
  transition: transform 1s;
}
main .menu .grid .card .card-img img:hover {
  transform: scale(1.1);
}
main .menu .grid .card .card-body {
  display: flex;
  flex-direction: column;
  margin-left: 3dvh;
}
main .menu .grid .card .card-body .card-title {
  color: #A0522D;
  font-size: 1.3rem;
  font-weight: 600;
  text-align: center;
  margin: 3dvh 3dvh;
}
main .menu .grid .card .card-body .card-description {
  color: #A0522D;
  text-align: center;
}
main .menu .grid .card .card-body .card-info {
  display: flex;
  justify-content: space-between;
}
main .menu .grid .card .card-body .card-info .card-price {
  color: #FFCC33;
  font-weight: 600;
}
main .menu .grid .card .card-body .card-info .add-to-cart-btn {
  width: 6dvh;
  height: 6dvh;
  border: none;
  border-radius: 1dvh;
  background-color: #FFF8E1;
  margin-right: 2dvh;
  transition: background-color 1s;
}
main .menu .grid .card .card-body .card-info .add-to-cart-btn i {
  color: #A0522D;
}
main .menu .grid .card .card-body .card-info .add-to-cart-btn:hover {
  background-color: #FFCC33;
}
main .menu .grid div {
  flex: 1;
}
main .menu .menu-btn {
  width: 35dvh;
  height: 5dvh;
  border: none;
  border-radius: 2dvh;
  margin: 4dvh 4dvh;
  background-color: #FFF8E1;
  color: #A0522D;
  transition: background-color 1s;
}
main .menu .menu-btn:hover {
  background-color: #FFCC33;
}
main .location {
  display: flex;
  flex-direction: column;
}
main .location h2 {
  text-align: center;
  margin: 5dvh 5dvh;
}/*# sourceMappingURL=main.component.css.map */