<main>
    <section class="about">
        <div class="our-history">
            <h2>Nossa História</h2>
            <p>Tudo começou em 2012, no coração do bairro Santa Paula, quando Dona Maria decidiu trazer para a rua o segredo dos pasteis que fazia para a família. Com uma bancada simples e receitas passadas por gerações, ela inaugurou um pequeno balcão que logo virou ponto de encontro dos moradores.

                O cheiro irresistível da massa dourada no óleo fresco e os recheios generosos conquistaram o bairro. Em 2018, seu filho Carlos entrou no negócio, trazendo novas ideias: pasteis assados, opções veganas e combinações gourmet, como carne seca com catupiry e camarão ao alho e óleo.</p>
        </div>
        <div class="img">
            <img src="/restaurant.webp" alt="pastelaria" loading="lazy">
        </div>
    </section>
    <section class="menu">
        <h2>Nosso Cardápio</h2>
        <div class="grid">
            <div class="card">
                <div class="card-img">
                    <img src="/pastelcamarao.webp" alt="Pastel de Camarão" loading="lazy">
                </div>
                <div class="card-body">
                    <span class="card-title">Pastel de Camarão</span>
                    <p class="card-description">Camarões frescos refogados no alho, limão e pimenta dedo-de-moça, com catupiry. Massa artesanal, fina e crocante, dourada no ponto perfeito.</p>
                    <div class="card-info">
                        <p class="card-price">R$ 40.00</p>
                        <button class="add-to-cart-btn"><i class="fa-solid fa-cart-shopping"></i></button>
                    </div>
                </div>
            </div>
            <div class="card">
                <div class="card-img">
                    <img src="/pastelfrango.webp" alt="Pastel de Frango" loading="lazy">
                </div>
                <div class="card-body">
                    <span class="card-title">Pastel de Frango</span>
                    <p class="card-description">Peito de frango desfiado refogado no alho, cebola e pimenta dedo-de-moça, com catupiry. Massa artesanal, fina e crocante, dourada no ponto perfeito.</p>
                    <div class="card-info">
                        <p class="card-price">R$ 30.00</p>
                        <button class="add-to-cart-btn"><i class="fa-solid fa-cart-shopping"></i></button>
                    </div>
                </div>
            </div>
        </div>
        <a href="/cardapio"><button class="menu-btn">Veja Nosso Cardápio</button></a>
    </section>
    <section class="location">
        <h2>Venha Nos Conhecer</h2>
        <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3655.5183182610135!2d-46.5619301!3d-23.6216019!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x94ce5cdc58eb02d7%3A0x25705c87d95e1936!2sR.%20Di%C3%A1rios%20Associados%20-%20Santa%20Paula%2C%20S%C3%A3o%20Caetano%20do%20Sul%20-%20SP%2C%2009541-020!5e0!3m2!1spt-BR!2sbr!4v1745447435728!5m2!1spt-BR!2sbr" width="100%" height="450" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>
    </section>
</main>
