@import '../main/responsivity.scss';
@import '../../variables.scss';

main {
    max-width: 1240px;
    margin: auto;

    .about {
        display: flex;
        flex-direction: column;
        margin: 1dvh 1dvh;

        div {
            flex: 1;
        }

        .our-history {
            margin-right: 2dvh;

            h2 {
                text-align: center;
                margin-bottom: 3dvh;
            }

            p {
                text-align: center;
                line-height: 2rem;
                color: $brown;

            }
        }

        img {
            filter: brightness(50%);
        }
    }

    .menu {
        display: flex;
        flex-direction: column;
        align-items: center;
        margin: 5dvh 5dvh;

        h2 {
            text-align: center;
            margin: 3dvh 3dvh;
        }

        .grid {
            display: grid;
            grid-template-columns: 1fr;
            gap: 2dvh;
            padding: 1dvh 1dvh;
    
            .card {
                display: flex;
                flex-direction: column;
                box-shadow: 0px -1px 17px -4px rgba(0, 0, 0, 0.45);
                border-radius: 2dvh;
                overflow: hidden;
    
                .card-img {
                    img {
                        filter: brightness(50%);
                        transition: transform 1s;
                    }
    
                    img:hover {
                        transform: scale(1.1);
                    }
                }
    
                .card-body {
                    display: flex;
                    flex-direction: column;
                    margin-left: 3dvh;
    
                    .card-title {
                        color: $brown;
                        font-size: 1.3rem;
                        font-weight: 600;
                        text-align: center;
                        margin: 3dvh 3dvh;
                    }
    
                    .card-description {
                        color: $brown;
                        text-align: center;
                    }
    
                    .card-info {
                        display: flex;
                        justify-content: space-between;
    
                        .card-price {
                            color: $yellow;
                            font-weight: 600;
                        }
    
                        .add-to-cart-btn {
                            width: 6dvh;
                            height: 6dvh;
                            border: none;
                            border-radius: 1dvh;
                            background-color: $white;
                            margin-right: 2dvh;
                            transition: background-color 1s;
                            
                            i {
                                color: $brown;
                            }
                        }
    
                        .add-to-cart-btn:hover {
                            background-color: $yellow;
                        }
                    }
                }
            }
    
            div {
                flex: 1;
            }
        }

        .menu-btn {
            width: 35dvh;
            height: 5dvh;
            border: none;
            border-radius: 2dvh;
            margin: 4dvh 4dvh;
            background-color: $white;
            color: $brown;
            transition: background-color 1s;
        }

        .menu-btn:hover {
            background-color: $yellow;
        }
    }

    .location {
        display: flex;
        flex-direction: column;

        h2 {
            text-align: center;
            margin: 5dvh 5dvh;
        }
    }
}