@import '../../variables.scss';

@media (width >= 1024px) {
    .about {
        display: flex;
        flex-direction: row !important;
        margin: 5dvh 5dvh !important;
    }
}

@media (width >= 1024px) {
    .grid {
        display: grid;
        grid-template-columns: repeat(2, 1fr) !important;
    }
}